* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

.header h1,h5 {
  color: #FF8000;
}

.section-title {
  padding-top: 10px;
}

.section-title ol li   {
  font-size: 15px;
  font-weight: 500;
}
.section-explaination {
  padding-top: 10px;
  padding-bottom: 10px;

}
.section-explaination h4 {
  color: #FF8000;
}

.section-goodbye a {
    color: #FF8000;
}

.section-goodbye h5 {
    color: #000000;
}

.section-technology a {
    color: #FF8000;
}

.section-technology h4 {
    color: #FF8000;
    font-weight: 500;
}
.btn-submit-now,
.btn-submit-now:active,
.btn-submit-now:focus,
.btn-submit-now:visited {
  background-color: #FF8000;
  border: 1px solid #FF8000;
  color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
}
