* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

.purchase-now {
  background-color: #1a1a1a;
  padding-top: 100px;
  padding-bottom: 100px;
}

.purchase-now p {
  color: #dfdfdf;
  font-size: 18px;
  font-weight: 300;
}

.btn-purchase-now,
.btn-purchase-now:active,
.btn-purchase-now:focus,
.btn-purchase-now:visited {
  background-color: #129CF3;
  border: 1px solid #129CF3;
  color: #fff;
  border-radius: 3px;
  padding: 15px 35px;
  text-transform: uppercase;
  transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
}

.btn-purchase-now:hover {
  background-color: #1274B1;
  border-color: #316B90


}
