<DOCTYPE html>
  <html>
  <head>
    <title>Rahmona Henry</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1">

      <!--JQuery-->
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <!--Bootstrap & CSS-->

      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

      <!--Google Fonts-->
      <link href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500i,600,600i,700,700i,800,900" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600i,700,900" rel="stylesheet">

      <!--Font Awesome-->
      <link rel="stylesheet" href="css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
<!--Header-->
<header class="header">
        <div class="container">
           <div class="row">
            <div class="col-md-9">
             <h1>RAHMONA HENRY</h1>
               <h4><b>Application for Designated Support Engineer</b></h4>
                <h5><b>HubSpot Dublin - September 28 2017</b></h5>
           </div>
        </div>
      </div>
</header>
<section>
<!-- Goodbye Section-->
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="section-title">
            <h2>Thank you for making your submission!</h2>
         </div>
         <div class="section-goodbye">
            <h4>Return to the homepage <a href='/'><b>Home</b></h4></a>
       </div>
       </div>
      </div>
    </div>
</section>
<!-- Technology Section-->
<section>
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="section-technology">
            <h4>Technology Stack</h4>
            <p><b>The following technologies were used to make this web application:</b></p>
            <ul>
              <li>The web server was created using the Express js framework</li>
              <li>The front end design was created using the Bootstrap framework</li>
              <li>Handlebars for page templating, Browserify for NPM dependency bundling</li>
              <li>jQuery for event handling</li>
              <li>To see the full codebase click through to my <a href='https://github.com/rahmona-henry/rahmonahenry'><b>Github</b></h4></a></li>
          </ul>
         </div>
       </div>
      </div>
    </div>
</section>

<script src='app.js'></script>

<!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/3939197.js"></script>
<!-- End of HubSpot Embed Code -->
  </body>
</html>
